.box {
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%,-50%);
}
 
p {
    font-family:'Estonia', cursive;
    font-size: 40px;
    color: red;
}
h3, h5{
    font-family:'Forum', cursive;
}
h5{
    font-size: 18px;
}